{%  extends 'base.html' %}
{% block title  %} Home {% endblock %}


{% block content %}
{% if user.is_authenticated %}
<h1><a href="{%  url 'make_post' %}">Create New Post</a></h1>
{%  endif %}
-------------------------------------------
{%  for post in posts %}
   <a href="{% url 'post_detail' post.slug  %}"> <h1 class="h">{{ post.title }}</h1></a>
    <h2>{{ post.body }}</h2>
    <h3>{{ post.author }}</h3>
    <h4>{{ post.created_at }}</h4>
    <h5>{{ post.updated_at }}</h5>

    {%  if request.user.is_authenticated and request.user == post.author %}
        <a href="{% url 'post_edit' post.slug %}">Edit</a>
        <a href="{% url  'delete_post' post.slug %}">Delete Post</a>
    {% endif %}
<h1>------------------------------------------</h1>

{% endfor%}
{% endblock %}